@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Rubik');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Rubik');
.form{
margin: auto;
max-width: 1200px;
height: 120px;
}

textarea{
    max-width: 1200px;
    min-width: 1200px;
    min-height:120px;
    padding:10px;
    box-sizing: border-box;
    border:1px solid #5F9EA0;
    
}
.form_btn{
    width: 160px;
    height: 40px;
    border-radius:3px; 
    background-color: #5F9EA0;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 800;

}
.form_btn:hover{
     background-color:#008080;
}
textarea{
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}